@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap');

body {
  background-color: #111111 !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}


/* Font and Text Features */

.fs-1p2 {
  font-size: 1.2rem;
}

.fw-700{
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}

.text-blue {
  color: #5bafe7
}

.dims-large {
  width: 450px;
  height: 700px;

}

.dims-rel {
  width:22.5rem;
  height: 35rem;
}

.dims-small {
  width: 225px;
  height: 350px;
}

.button-override {
  background-color: #5bafe7 !important;
  width: 30rem !important;
  border-color: #5bafe7 !important;
  transition: 0.4s;
}

.button-override-small {
  background-color: #5bafe7 !important;
  width: 15rem !important;
  border-color: #5bafe7 !important;
  transition: 0.4s;

}

.restart-button {
  background-color: #660d53 !important;
  /* width: 30rem !important; */
  border-color: #660d53 !important;
  transition: 0.4s;
}

.restart-button-small {
  background-color: #660d53 !important;
  /* width: 15rem !important; */
  border-color: #660d53 !important;
  transition: 0.4s;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  
  background-color: #bb3d3d !important;
  border-color: #bb3d3d !important          ; /*set the color you want here*/
}