@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap');

body {
  background-color: #111111 !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}






/* Font and Text Features */

.fs-1p2 {
  font-size: 1.2rem;
}

.fw-700{
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}

.text-blue {
  color: #5bafe7
}
